<% if @videos.present? %>
  <div class="container index-wrap">
    <h1 class="videos-header">Video Archives</h1>
    <div class="row"> 
      <% @videos.each do |video| %> 
      <div class="col-md-6">
        <div class="post-date"><strong>Posted <%= video.created_at.strftime("%d %b %y") %></strong></div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
        </div>

        <%= link_to video do %>
        <h2><%= video.title %></h2> 
        <% end %>
        <p><%= video.description %></p>
      </div>
      <% end %>
    </div>
    <%= link_to 'New Video', new_video_path %>
    
    
  </div>
<% else %>
  <p class="text-center">No results found</p>
  <%= link_to 'New Video', new_video_path %>
  
<% end %>
