<div class="embed-responsive embed-responsive-16by9 showvid">
  <iframe class="embed-responsive-item" src="<%= @video.url %>" frameborder="0" allowfullscreen></iframe>
</div>

<h2>
  <%= @video.title %>
</h2>

<p class="text-center">
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
