<% if @posts.present? %>
  <div class="container index-wrap">
    <h1 class="posts-header">Blog Archives</h1>
    <div class="row"> 
    	<% @posts.each do |post| %> 
      <div class="col-md-6">
        <div class="post-date"><strong>Posted <%= post.created_at.strftime("%d %b %y") %></strong></div>

        <%= image_tag(post.image_url, class: "img-responsive") %>

        <h2><%= post.title %></h2>
        <div class="text-center">
          <%= link_to 'READ', [:admin, post], class: "btn btn-primary" %>
        </div>  
      </div>
      <% end %>
    </div>
    <div class="text-center">
     <%= will_paginate @posts %> 
    </div> 
    <%= link_to 'New Post', new_admin_post_path %>
  </div>
<% else %>
  <p class="text-center">No results found</p>
  <%= link_to 'New Post', new_admin_post_path %>
<% end %>
